
h1 {
  text-align: center;
  margin-top: 10px;
  font-family: 'Monoton', cursive;
  font-size: 80px;
}
body {
  
  background-color: rgb(211, 245, 255);
  
}

.container {
  background-color: white;
  padding: 60px;
  padding-bottom: 80px;
  margin-top: 60px;
  border: outset rgb(231, 231, 231);
  border-width: 9px;
}


.activePlayer {
  border: solid rgb(195, 236, 255);
  padding: 10px;
}

#roll-btn {
  background-color: rgb(73, 72, 72);
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

#hold-btn {
  background-color: rgb(7, 86, 189);
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

.rollStats {
  text-align: center;
  padding: 50px;
}

.congrats {
  text-align: center;
  font-size: 50px;
  text-shadow: 3px 3px 8px rgb(16, 177, 155);
}

.show {
  display: none;
}

#computer-btn {
  border-radius: 50%;
}

.title {
  color: rgb(0, 51, 255);
  animation: mymove .1s infinite;
}

@keyframes mymove {
  from {color: rgb(255, 0, 187);}
  to {color: rgb(255, 179, 0);}
}



/* #computer-btn {
  background-color: rgb(4, 63, 117);
  color: white;
  font-size: rgb(238, 130, 130)
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  padding: 5px;
  position: relative;
  left: 35%;
} */